# Discord Bot Configuration
TOKEN=MTQ2NTk5OTQ2ODUxMDk3Mzk4Mw.GXnJjB.bMoNguRhA9BFCkpbZcXrafeV7EVUoLve_3SRxE
DISCORD_CLIENT_ID=1465999468510973983
OWNER_IDS=1451886189513539679
PREFIX=.

# Genius API Key
GENIUS_API_KEY=

# GROQ (AI Model) API Key
GROQ_API_KEY=

# Google API KEY 
GOOGLE_API_KEY=

# MongoDB Configuration
MONGO_URI=mongodb+srv://deepakpaswan12869_db_user:<db_password>@cluster0.xajpzeg.mongodb.net/?appName=Cluster0

# Lavalink Configuration
LAVALINK_HOST=lava-v4.ajieblogs.eu.org
LAVALINK_PORT=443
LAVALINK_SECURE=true
LAVALINK_PASSWORD=https://dsc.gg/ajidevserver

# Webhook URL
WEBHOOK_URL=https://discord.com/api/webhooks/1373557392700215366/-GLxcWtixX8x6Xqey1TvUAx2s8crbZ8e88-MMWzPaa9YauhPZBHJI6TaAlbD372KjKkx
